body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.nav_top{
    height: 50px;
    background-color: rgb(118, 174, 189);
    text-transform: uppercase;
    color: white;
    font-family: cursive;
    font-size: 18px;
    padding-left: 120px;
    padding-top: 20px;
}

.nav_top a{
    text-decoration: none;
    color: white;
    font-family: Times new Roman;
    padding-left: 40px;
    font-size: 15px;
}

.nav_top a:hover{
    font-size: 18px;
}

.nav_top a.active{
    color: black;
}

.member_info{
    width: 350px;
    height: 500px;
    float: left;
    border-radius: 5px;
    background-color:  rgb(118, 174, 189);
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.member_info img{
    width: 80px;
    height: 82px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
    margin-top: 50px;
    margin-left: 120px;
}

.member_info table{
    width: 300px;
    height: 120px;
    margin-top: 30px;
    margin-left: 20px;
    border-collapse: collapse;
}

.member_info caption{
    height: 35px;
    padding-top: 7px;
    background-color:#dae2da;
    text-transform: uppercase;
    font-size: 18px;
    color: black;
    font-family: cursive;
    border-radius: 5px;
    margin-bottom: 5px;
}

.member_info th{
    text-transform: uppercase;
    font-size: 12px;
    text-align: right;
    padding-right: 5px;
    font-family: cursive;
}

.member_info td{
    font-size: 15px;
    text-align: left;
    padding-left: 5px;
    font-family: cursive;
}

.member_info button{
    background-color:#dae2da;
    border: 2px solid #dae2da;
    border-radius: 5px;
    margin-left: 100px;
    margin-top: 25px;
    text-transform: uppercase;
    font-family: cursive;
    font-size: 18px;
}

.member_info button, a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.member_info a:hover{
    font-size: 18px;
}   

.add_meal{
    width: 950px;
    height: 160px;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}

.add_meal h1{
    font-size: 20px;
    text-transform: uppercase;
    font-family: cursive;
}

.add_meal table{
    width: 920px;
    background-color: white;
    margin-left: 15px;
}

.add_meal td{
    font-family: cursive;
    font-size: 15px;
    text-transform: uppercase;
}

.add_meal select{
    width: 140px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #dae2da;
}

.add_meal option{
    font-family: cursive;
    font-size: 15px;
}

.add_meal input{
    width: 140px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #dae2da;
}

.add_meal input[type=submit]{
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(118, 174, 189);
    font-family: cursive;
    font-size: 15px;
    text-transform: uppercase;
}

.add_meal input[type=submit]:hover{
    font-size: 18px;
    color: white;
}

.meal_view{
    width: 950px;
    float: left;
    margin-left: 10px;
}

.meal_view h1{
    font-size: 20px;
    text-transform: uppercase;
    font-family: cursive;
}

.meal_view table{
    width: 920px;
    margin-left: 15px;
    border: 1px solid rgb(118, 174, 189);
    border-collapse: collapse;
}

.meal_view th{
    height: 30px;
    text-transform: uppercase;
    background-color: rgb(118, 174, 189);
    font-size: 15px;
    font-family: cursive;
}

.meal_view td{
    height: 20px;
    text-align: center;
    font-family: cursive;
}